/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{

    outline: 1px green solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 150px;
}

.container{
    width: 90%;
    margin: 50px auto;
}


hr{
    width: 20%;
    color: dimgray;
}

/* titoli e testo */



.bold{
    font-weight: bold;
}

h2{
    font-size: 40px;
    padding: 30px 0;
}


h3{
    font-size: 20px;
}



.border{
    border: darkgray solid 1px;
}


/* testo grigio */

.gray{
    color: rgb(61, 61, 61);
    text-decoration: none;
}

/* bottoni */

button{
    cursor: pointer;
}

.blue{
    background-color:dodgerblue;
    border: transparent;
    color: white;
    margin: 0 10px;
}

.normalbtn{
    padding: 5px 20px;
}


/* link */
.blue-link{
    color: blue;
    padding-left: 5px;
    padding-right: 10px;
}


/* nav */


#fixed-navbar{
    width: 100%;
    background-color: white;

    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    font-size: 15px;

    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.461);
}

#fixed-navbar *{
    padding: 5px 5px;
}

.right, .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.logo img{
    width: 150px;
}

/* header */

.jumbotron{
    background-color: #b4d0e7;
}

.jumbo h1{
    font-size: 80px;

    margin-bottom: 30px;
}

.jheader{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text{
    padding: 30px 10px;
}

.par{
    width: 100%;
}

.image{
    flex-grow: 1;
    transform: translateY(80px);
}

.image img{
    padding-top: 30px;
    width: 100%;  

}

.icon i{
    font-size: 50px;
    margin-top: 80px;

    margin-left: 20px;
}

/* /header */


#checkboxes span, i{
    padding-left: 10px;
    margin: 10px 0;
}

#checkboxes .lightblue:active{

    color: dodgerblue;
    transform: scale(1.1);

}

.columns{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    gap: 10px;
}

.top{
    text-align: center;
    border-bottom: dimgray 1px solid;
}

.card{
    padding: 20px 20px;
}

.card > *{
    margin: 30px 0;
}

.card > ul{
    list-style-type: none;
    font-size: 12px;
}

li > .fa-solid{
    margin-right: 8px;
}

.flexbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.largebtn{
    padding: 10px 30px;
}

#contact-us{
    font-weight: bold;
    padding-bottom: 50px;
}

/* cards - column and row */


.flexrow{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

.row{
    width: 60%;
}

.row div{
    padding: 20px 0;
}


.solutions{
    padding-top: 50px;
}


/* image-text container main */

.img-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.partnerimg{
    flex-grow: 1;
}

.partner{
    width: 70%;
}

.partner *{
    margin: 30px 10px;
}

.partnerimg img{
    width: 100%;
}

.black{
    background-color: transparent;
    padding: 10px 30px;
    border: dimgray 1px solid;
}

/* cards container */

.inner-cards{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.smallcard{
    width: calc(100% / 3 - 10px);
    height: calc(100% / 2 - 20px);

    margin: 10px 0;

    padding: 10px 10px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    overflow-y: auto;
}

.smallimage{
    width: 100%;
}

.smallimage img{
    width: 100%;
}

.smalltext p{
    margin-top: 40px;
}

/* discover clients container */

.clients{
    width: 90%;
    margin: 200px auto;
}

.clients h3{
    width: 60%;
}

.discover{
    padding: 50px 0;
}


/* logos */

#featured{
    display: flex;
}

#featured .side{
    width: calc(100vw / 3);
    height: calc(100vw / 3);

    display: flex;
    flex-flow: row wrap;
}

.center{
    width: calc(100vw / 3);
    background-color: #f5f5f5;
    padding: 40px;
}

.center *{
    margin-bottom: 40px;
}

.square {
    width: 50%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.square img{  
    width: 50%;
    filter: invert(100%);
}


.center img{
    width: 50%;
}


/* drpb company business */

#companyrow{
    background-color: #b4d0e7;
}


#company-inner{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 90px;

    display: flex;
    justify-content: space-between;
}

#company-inner h2{
    width: 60%;
    color: #61082b;
    padding: 0 30px;
}

.gbtn{
    padding: 10px 60px;
    border: transparent;
}






/* colore quadrati */


#design{
    background-color: #a2d39b;
}

#asu{
    background-color: #61082b;
}

#usf{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#wbr{
    background-color: #d5001f;
}

#hc{
    background-color: #b4d0e7;
}

#lp{
    background-color: #0d2481;
}

#cc{
    background-color: #ffd830;
}