/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{

    outline: 1px green solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 150px;
}

.container{
    width: 90%;
    margin: 20px auto;
}

.space{
    padding: 10px 15px;
}



/* testo grigio */

.gray{
    color: rgb(61, 61, 61);
    text-decoration: none;
}

/* bottoni */

.blue{
    background-color:dodgerblue;
    border: transparent;
    color: white;
    margin: 0 10px;
}

.normalbtn{
    padding: 5px 20px;
}


/* nav */


#fixed-navbar{
    width: 100%;
    background-color: white;

    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    font-size: 15px;

    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.461);
}

#fixed-navbar *{
    padding: 5px 5px;
}

.right, .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

.logo img{
    width: 150px;
}

/* header */

.jumbotron{
    background-color: #b4d0e7;
}

.jumbo h1{
    font-size: 80px;

    margin-bottom: 30px;
}

.jheader{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text{
    padding: 30px 10px;
}

.par{
    width: 100%;
}

.image{
    flex-grow: 1;
    transform: translateY(80px);
}

.image img{
    padding-top: 30px;
    width: 100%;  

}

.icon i{
    font-size: 50px;
    margin-top: 80px;

    margin-left: 20px;
}


/* main */

.container h2{
    font-size: 40px;
    padding:  30px 0;
}

.round{
    display: inline-block;
    padding: 30px 20px;
}

.round i{
    font-size: 20px;
    padding-right: 5px;
    color: gray;
}

.round:active i{
    transform: scale(1.2);
    color: dodgerblue;
}


/* container colonne */

.columns{   
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

.column{
    width: calc(100% / 3);
    padding: 10px;
}

.top{
    padding: 8px 10px;
    text-align: center;
    border-bottom: darkgray 1px solid;
}

.space a{
    padding-left: 5px;
}

.bold{
    font-weight: bold;
}

.flexbtn{
   display: flex;
   justify-content: center;
   align-items: center;
}

.largebtn{
    padding: 5px 30px;
}

.card ul{
    list-style-type: none;
    margin-top: 30px;
}

.card ul > li{
    padding: 6px 0;
}

.blue-link{
    color: blue;
    padding: 5px 5px 5px 0;
}

.border{
    border: darkgray solid 1px;
}