*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    /* outline: 1px solid saddlebrown; */
    font-family: 'Open Sans', sans-serif;
}


.centered{
    max-width: 1000px;
    margin: 0 auto;
}


.container{
    width: 90%;
    margin: 0 auto;

    padding-top: 100px;
}



/* titoli */

h1{
    font-size: 70px;
}

h2{
    font-size: 35px;
}


/* bottoni */

.blue{
    background-color: dodgerblue;
    border: transparent;
    color: white;
}

.normalbtn{
    padding: 5px 10px;
    border: transparent;
}


.largebtn{
    width: 200px;
    padding: 10px 15px;
}


/* liste */


ul{
    list-style-type: none;
}


/* classi generali */

.gray{
    color:rgb(50, 50, 50);
}


.bold{
    display: block;
    font-weight: bold;
}

.blue-link{
    color: blue;
    font-size: 16px;
    padding: 0 10px;
}


.divisor{
    width: 100px;
    color: dimgray;

    margin-top: 20px;
}


/* navbar_______________________________________ */

#fixed-navbar{
    width: 100%;

    background-color: white;

    font-size: 15px;
    
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    position: fixed;
    top: 0;

    z-index: 1;
}

#fx-right, #fx-left{
    display: flex; 
 
}

#fx-logo, #fx-button{
    padding: 20px 20px;
}

#fx-logo img{
    display: block;
    width: 150px;
}

.list{
    display: flex;

    padding-top: 25px;

    
    overflow: hidden;
}


.list a{
    padding: 20px 30px;
    text-decoration: none;

}

.list a:hover{
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

/* ////////////////////////////////// */


/* jumbotron__________________________*/

#jumbotron{
    background-color: #b4d0e7;
}

.jumboinner{
    padding-top: 180px;
}

#flexed-jumbo{
    display: flex;
    justify-content: space-between;
}


#jumbo-text{
    width: 100%;
}

.text{
    padding: 60px 0;
}

#jumbo-img{
    flex-grow: 1;
    transform: translateY(120px);
}

#jumbo-img img{
    width: 100%;
}

#jumbobtn{
    margin-bottom: 20px;
    padding: 5px 20px;
}

#jumbo-text i{
    font-size: 50px;
    margin-top: 60px;
    color: black;
}


/* //////////////////////// */


/* main_________________ */

/* business plans */

#business{
    padding-top: 200px;
}

#checkboxes{
    padding: 40px 0;
}

#checkboxes i{
    padding-right: 10px;
}

#checkboxes i:active{
    color: dodgerblue;
}


/* piani - colonne_______ */

#b-plans{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5px;
}

.top{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid dimgray;
}

.plan{
    border: 1px solid dimgray;
    margin-top: 30px;
}

.plan-description{
    margin: 30px 10px;
}

.plan-description div{
    padding: 30px 0;
}

.plan-description span{
    margin: 20px 0;
}

.plan-lists li{
    padding: 10px 0;

    font-size: 12px;
}

.plan-lists i{
    padding-right: 8px;
}

.flexbtn{
    display: flex;
    justify-content: center;
}


/* ////////////////// */


/* business row */

#b-line{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

#line-right{
    width: 70%;
    padding-top: 30px;
}

.solutions{
    padding-top: 60px;
}

/* ///////////////// */

/* img-text */


#partner-inner{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#partner-text{
    width: 100%;

    padding: 40px 10px;
}

#partner-inner img{
    width: 100%;
}

#partner-text > h3{
    padding: 20px 0;
}

#partner-text p{
    padding: 20px 0;
}

#partner-text div{
    padding: 20px 0;
}

.black{
    background-color: transparent;
    border: 1px dimgray solid;
}

/* ///////////// */

/* switch tools card */

#cards-grid{
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.single-card{
    width: calc(100% / 3 - 20px);
    height: calc(100% / 2 - 30px);

    margin: 15px 10px;
}

.single-card img{
    width: 100%;
    display: block;
}

.single-card h3{
    padding: 10px 0;
}


/* clients content */

#clients h2{
    width: 60%;
}

#discover{
    margin: 90px 0;
}


/* /////////////////////// */


/* colored boxes logo - featured */

#featured{
    display: flex;
}

#center, #left, #right{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

#left, #right{
    display: flex;
    flex-flow: row wrap;
}

.square{
    width: 50%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.square img{
    width: 50%;
    filter: invert(100%);
}

#center{
    padding: 30px 40px;
    background-color: #f5f5f5;

    overflow: hidden;
}

#center img{
    width: 60%;
}

#center img, #center p, #center span{
    padding: 50px 0;
}

/* colore quadrati */

.square:hover{
    border: 10px solid rgba(255, 255, 255, 0.3);
}


#design{
    background-color: #a2d39b;
}

#asu{
    background-color: #61082b;
}

#usf{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#wbr{
    background-color: #d5001f;
}

#hc{
    background-color: #b4d0e7;
}

#lp{
    background-color: #0d2481;
}

#cc{
    background-color: #ffd830;
}

/* /////////////////////////// */

/* colored row */

.featured-row{
    background-color: #b4d0e7;
}

#company{
    display: flex;
    justify-content: space-between;

    padding-bottom: 100px;
}

.red{
    width: 60%;
    color: #61082b;
}

.gbtn{
    background-color: white;
    padding: 10px 50px;
}

/* //////////////////// */

/* faq content */


#faq{
    padding-bottom: 100px;
}

#faq h2, #faq div{
    padding: 30px 0;  
    border-bottom: 1px solid dimgray;

    position: relative;
}

#faq p{
    padding-top: 30px;
}

#faq .fa-solid{
    position:absolute;

    top:30px;
    right: 0;

    cursor: pointer;
}

#faq .faq-content #su, #faq .faq-content p{
    display: none;
}

#faq .faq-content:hover #su, #faq .faq-content:hover p{
    display: block;
}

#faq .faq-content:hover #dw{
    display: none;
}

/* ////////////////////// */