*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    /* outline: 1px solid saddlebrown; */
    font-family: 'Open Sans', sans-serif;
}


.centered{
    max-width: 1000px;
    margin: 0 auto;
}


.container{
    width: 90%;
    margin: 0 auto;

    padding-top: 100px;
}



/* titoli */

h1{
    font-size: 70px;
}







/* bottoni */

.blue{
    background-color: dodgerblue;
    border: transparent;
    color: white;
}

.normalbtn{
    padding: 5px 10px;
    border: transparent;
}

/* liste */


ul{
    list-style-type: none;
}


/* classi generali */

.gray{
    color:rgb(50, 50, 50);
}
















/* navbar_______________________________________ */

#fixed-navbar{
    width: 100%;

    background-color: white;

    font-size: 15px;
    
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    position: fixed;
    top: 0;

    z-index: 1;
}

#fx-right, #fx-left{
    display: flex; 
 
}

#fx-logo, #fx-button{
    padding: 20px 20px;
}

#fx-logo img{
    display: block;
    width: 150px;
}

.list{
    display: flex;

    padding-top: 25px;

    
    overflow: hidden;
}


.list a{
    padding: 20px 30px;
    text-decoration: none;

}

.list a:hover{
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

/* ////////////////////////////////// */


/* jumbotron__________________________*/

#jumbotron{
    background-color: #b4d0e7;
}

.jumboinner{
    padding-top: 180px;
}

#flexed-jumbo{
    display: flex;
    justify-content: space-between;
}


#jumbo-text{
    width: 100%;
}

.text{
    padding: 60px 0;
}

#jumbo-img{
    flex-grow: 1;
    transform: translateY(120px);
}

#jumbo-img img{
    width: 100%;
}

#jumbobtn{
    margin-bottom: 20px;
    padding: 5px 20px;
}

#jumbo-text i{
    font-size: 50px;
    margin-top: 60px;
    color: black;
}


/* //////////////////////// */